{% extends "index.html" %}

{% import "macros/buttons.html" as btn with context %}
{% import "macros/cards.html" as card with context %}

{% block main_content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                    {{ btn.button(label="x", class="close", data_dismiss="alert") }}
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block table_wrapper %}{% endblock %}
{% endblock %}

{% block generic_scripts %}
    <script src="{{ url_for("static", filename="sb-admin-6.0.2/js/jquery.dataTables-1.10.20.min.js") }}" ></script>
    <script src="{{ url_for("static", filename="sb-admin-6.0.2/js/dataTables-1.10.20.bootstrap4.min.js") }}" ></script>
    <script>
        $(document).ready(function() {
            $('#dataTable_{{ section_name }}').dataTable({
                "paging":    true,
                "ordering":  true,
                "info":      true,
                "searching": true});});
    </script>
{% endblock %}